body {
    background-color: #2c0280;
    color: #03ebf3;
}

h1 {
    color: #eff303;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px 50px;
}

ul {
    border: 1px solid #eff303;
    border-radius: 60px;
    margin: 80px;
}

li {
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}