body {
    background-color: #424144;
    color: #c9c7c7;
}

h2 {
    margin: 80px 0 0;
}

pre {
    background-color: #520feebe;
    border-radius: .6rem;
    padding: 1rem 1rem;
    color: #f8f8ff;
    overflow: auto;
    width: 40%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 35%;
}

a {
    text-decoration: none;
    color: #deb887;
}

a:hover {
    color: #00ffea;
}

li {
    list-style: none;
}